<!DOCTYPE html>
<html lang="pt-br">

{% include "admin/partials/head.html" %}

<body class="hold-transition sidebar-mini">

    <!-- HEADER -->

    <!-- CONTENT -->
    {% block content %}

    <div class="wrapper">

        <!-- Navbar -->
        {% include "admin/partials/navbar.html" %}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include "admin/partials/sidebar.html" %}

        <!-- Content Wrapper. Contains page content -->
        {% include "admin/partials/content.html" %}
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.5
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    {% endblock %}

    <!-- FOOTER -->
    {% include "admin/partials/footer.html" %}

</body>

</html>