<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{screen}}</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="card col-3">
            <div class="card-body row">
                <div class="col-12">
                    <button type="button" class="btn btn-success btn-block m-0" data-toggle="modal"
                        data-target="#modal-cadastrar"><i class="fas fa-user-plus"></i>
                        Cadastrar usuário</button>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuário Cadastrados</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}
                            </td>
                            <td class="d-flex justify-content-around">
                                <button type="button" class="btn btn-primary btn-block col-5 m-0" data-toggle="modal"
                                    data-target="#modal-atualizar">
                                    <i class="fas fa-user-edit"></i>
                                    Atualizar</button>
                                <button type="button" class="btn btn-danger btn-block col-5 m-0" data-toggle="modal"
                                    data-target="#modal-deletar">
                                    <i class="fas fa-user-times"></i>
                                    Deletar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- Modal Cadastrar Usuário -->
        {% include "admin/partials/userModalCadastrar.html" %}
        <!-- ./Modal Cadastrar Usuário -->

        <!-- Modal Atualizar Usuário -->
        {% include "admin/partials/userModalAtualizar.html" %}
        <!-- ./Modal Atualizar Usuário -->

        <!-- Modal Deletar Usuário -->
        {% include "admin/partials/userModalDeletar.html" %}
        <!-- ./Modal Deletar Usuário -->
    </section>
    <!-- /.content -->
</div>